@import "tailwindcss";

@theme {
    --color-background-body: #2f3239;
    --color-background-dark: #383c45;
    --color-primary: #1ab1dd;
    --color-secondary: #f1cd52;
    --color-accent1: #1fcfb7;
    --color-accent2: #11f09b;
    --color-textlight: #ffffff;
    --color-textdark: #000000;
}

@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.6s ease-out forwards;
}  